.footer {
    padding-top: 2.5rem;
    padding-bottom: 1.75rem;
    background-color: $dark-blue;
    text-align: center;

    .btn {
        margin-bottom: 1.75rem;
    }
}

.footer__logo {
    margin-bottom: 0.75rem;
}

.footer__list,
.social {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.footer__list {
    max-width: 327px;
    margin: 0 auto 1.5rem;

    a {
        font-size: 0.875rem;
        line-height: 1.6;
        color: $white;
        display: inline-block;
        padding: 0.375rem 0;
        text-decoration: none;
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem;

    a {
        display: flex;
        padding: 0.75rem;
        color: $white;
    }

    svg {
        transform: scale(1.2);
    }
}

.footer__copyright {
    font-size: 0.875rem;
    color: $gray;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
    .footer {
        text-align: left;
        padding-top: 4rem;
        padding-bottom: 0.5rem;

        .container {
            position: relative;
        }

        .col__logo-social,
        .col__form {
            flex: 0;
        }
    }

    .footer__row {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .footer__logo {
        margin-right: auto;
        margin-bottom: 4.5rem;
    }

    .footer__list {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
    }

    .footer__links {
        display: flex;
        justify-content: space-between;
        max-width: 460px;
        width: 100%;
        margin-right: 6rem;

        > div:nth-child(2) {
            margin-right: 1.5rem;
        }
    }

    .social {
        margin-bottom: 0;
    }

    .col__logo-social {
        flex-direction: column;
    }

    .social {
        justify-content: flex-start;
        margin: 0 0 2.5rem -0.5rem;

        a {
            padding: 0.4375rem;
        }
    }

    .footer__list {
        padding-left: 15%;

        li {
            margin-bottom: 0.875rem;
        }

        a {
            padding: 0;
        }
    }

    .footer__form {
        .form-control {
            width: 200px;
        }

        .btn {
            width: 60px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .footer__copyright {
        position: absolute;
        top: 110px;
        right: 24px;
    }
}
